/* Columns Teaser - Two-column image+text with CTA */

.columns-teaser > div {
  display: flex;
  flex-direction: column;
}

.columns-teaser img {
  width: 100%;
  border-radius: 10px;
}

.columns-teaser > div > div {
  order: 1;
}

.columns-teaser > div > .columns-teaser-img-col {
  order: 0;
  margin-bottom: var(--spacing-m);
}

.columns-teaser > div > .columns-teaser-img-col img {
  display: block;
}

.columns-teaser h2 {
  color: var(--color-teal);
  font-size: var(--heading-font-size-xl);
  margin-top: 0;
}

.columns-teaser p {
  color: var(--color-secondary-text);
  line-height: 1.6;
}

.columns-teaser ul {
  padding-left: 20px;
}

.columns-teaser li {
  margin-bottom: 8px;
  line-height: 1.5;
  color: var(--color-secondary-text);
}

.columns-teaser a.button:any-link {
  margin-top: var(--spacing-s);
}

.columns-teaser em {
  display: block;
  font-size: var(--body-font-size-xs);
  color: var(--color-tertiary-text);
  margin-top: 8px;
}

@media (width >= 900px) {
  .columns-teaser > div {
    align-items: center;
    flex-direction: unset;
    gap: 40px;
  }

  .columns-teaser > div > div {
    flex: 1;
    order: unset;
  }

  .columns-teaser > div > .columns-teaser-img-col {
    margin-bottom: 0;
  }
}
