/* VYEPTI HCP Footer */

footer {
  background-color: var(--color-white);
  font-size: var(--body-font-size-s);
  border-top: 1px solid var(--color-border);
}

footer .footer > div {
  margin: auto;
  max-width: var(--max-content-width);
  padding: 32px 16px 24px;
}

footer .footer p {
  margin: 4px 0;
  color: var(--color-medium-gray);
  font-size: var(--body-font-size-xs);
  line-height: 1.5;
}

footer .footer p:first-child {
  margin-bottom: 16px;
}

footer .footer a:any-link {
  color: var(--color-teal);
  font-size: var(--body-font-size-xs);
}

footer .footer a:any-link:hover {
  color: var(--color-teal-dark);
  text-decoration: underline;
}

footer .footer img {
  max-width: 120px;
  height: auto;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
